<!-- <table style="border: 1px solid black">
  <tr style="border: 1px solid black;">
    <th style="border: 1px solid black;">
      <button>+ Add</button>
      <input value="search products" />
      <span>Sortby</span>
      <select>
          <option>A</option>
          <option>B</option>
      </select>
    </th>
    <th style="border: 1px solid black;"></th>
  </tr>
  <tr>
    <td style="border: 1px solid black;" id="produs">
      <products-list></products-list>
    </td>
    <td>
       <product-details></product-details>
    </td>
  </tr>
</table> -->

<div style="border: 1px solid black">
  <div style="border: 1px solid black;">
    <th style="border: 1px solid black;">
      <button>+ Add</button>
      <input value="search products" />
      <span>Sortby</span>
      <select>
          <option>A</option>
          <option>B</option>
      </select>
    </th>
    <th style="border: 1px solid black;"></th>
  </div>
  <div>
    <td style="border: 1px solid black;" id="produs">
      <products-list></products-list>
    </td>
    <td>
       <product-details></product-details>
    </td>
  </div>
</div>

